# Backend
backend/build/
backend/.gradle/
backend/*.jar
*.class

# Frontend
frontend/node_modules/
frontend/dist/

# Docker
postgres_data/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
*.Zone.Identifier

# Logs
*.log